<mat-toolbar>
    <mat-toolbar-row>
      
        <a *ngIf="isAdminUser()" mat-stroked-button class="button" routerLink="/adminportal">Adminportal</a>
        <button mat-stroked-button class="button" routerLink="/meine-bestellungen">Meine Bestellungen</button>

        <span class="spacer"></span>

        <button mat-stroked-button class="button" routerLink="/sign-up">Sign Up</button>
        <button mat-stroked-button class="button" (click)="logout()">Log Out</button>

        <a *ngIf="isLoggedIn()" mat-stroked-button class="button" (click)="logout()">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>
  
