<p class="user">Angemeldet als: {{username}}</p>
<br><br>

<div class="speiseplanmitformular">
<div class="speiseplan-wrapper">
<mat-card>
    <mat-card-header>
      <mat-card-title>Speiseplan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{montag.toLocaleDateString()}} - {{sonntag.toLocaleDateString()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <thead>
          <tr class="header-row">
            <th></th>
          <th>Montag - {{montag.getDate()}}.{{montag.getMonth() + 1}}</th>
            <th>Dienstag - {{dienstag.getDate()}}.{{dienstag.getMonth() + 1}}</th>
            <th>Mittwoch - {{mittwoch.getDate()}}.{{mittwoch.getMonth() + 1}}</th>
            <th>Donnerstag - {{donnerstag.getDate()}}.{{donnerstag.getMonth() + 1}}</th>
            <th>Freitag - {{freitag.getDate()}}.{{freitag.getMonth() + 1}}</th>
            <th>Samstag - {{samstag.getDate()}}.{{samstag.getMonth() + 1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="menu1-row">
            <th>Menü 1</th>
            <td>{{monday.menu1.name}} ({{monday.menu1.preis}}€)</td>
            <td>{{tuesday.menu1.name}} ({{tuesday.menu1.preis}}€)</td>
            <td>{{wendsday.menu1.name}} ({{wendsday.menu1.preis}}€)</td>
            <td>{{thursday.menu1.name}} ({{thursday.menu1.preis}}€)</td>
            <td>{{friday.menu1.name}} ({{friday.menu1.preis}}€)</td>
            <td>{{saturday.menu1.name}}</td>
          </tr>
          <tr class="menu2-row">
            <th>Menü 2</th>
            <td>{{monday.menu2.name}} ({{monday.menu2.preis}}€)</td>
            <td>{{tuesday.menu2.name}} ({{tuesday.menu2.preis}}€)</td>
            <td>{{wendsday.menu2.name}} ({{wendsday.menu2.preis}}€)</td>
            <td>{{thursday.menu2.name}} ({{thursday.menu2.preis}}€)</td>
            <td>{{friday.menu2.name}} ({{friday.menu2.preis}}€)</td>
            <td>{{saturday.menu2.name}} ({{saturday.menu2.preis}}€)</td>
          </tr>
          <tr class="nachtisch-row">
            <th>Nachtisch</th>
            <td>{{monday.nachtisch.name}} ({{monday.nachtisch.preis}}€)</td>
            <td>{{tuesday.nachtisch.name}} ({{tuesday.nachtisch.preis}}€)</td>
            <td>{{wendsday.nachtisch.name}} ({{wendsday.nachtisch.preis}}€)</td>
            <td>{{thursday.nachtisch.name}} ({{thursday.nachtisch.preis}}€)</td>
            <td>{{friday.nachtisch.name}} ({{friday.nachtisch.preis}}€)</td>
            <td>{{saturday.nachtisch.name}} ({{saturday.nachtisch.preis}}€)</td>
          </tr>
          <tr class="suppe-row">
            <th>Suppe</th>
            <td>{{monday.suppe.name}} ({{monday.suppe.preis}}€)</td>
            <td>{{tuesday.suppe.name}} ({{tuesday.suppe.preis}}€)</td>
            <td>{{wendsday.suppe.name}} ({{wendsday.suppe.preis}}€)</td>
            <td>{{thursday.suppe.name}} ({{thursday.suppe.preis}}€)</td>
            <td>{{friday.suppe.name}} ({{friday.suppe.preis}}€)</td>
            <td>{{saturday.suppe.name}}</td>
          </tr>
        </tbody>
      </table>
      <mat-card-footer>
        <br>
        HINWEISE:
        <br>
        - Menü 2 ist auch als vegetarische Variante zu erhalten
        <br>
        - Samstags wird nur Menü 2 und Nachtisch angeboten
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
  <br>
<button  mat-raised-button class="btn-back" (click) = "vorherigeWoche();" >Vorherige Woche</button>
&nbsp;
<button  mat-raised-button class="btn-back" (click) = "naechsteWoche();" >Nächste Woche</button>
</div>


<div class="bestellformular-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bestellung aufgeben</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Tag auswählen</mat-label>
        <mat-select [(ngModel)]="selectedTag" (change)="kostenBerechnen()">
          <mat-option *ngFor="let tag of tage" [value]="tag">{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field *ngIf="selectedTag !== 'Samstag'">
        <mat-label>Menü 1 oder Menü 2?</mat-label>
        <mat-select [(ngModel)]="selectedMenu" (ngModelChange)="kostenBerechnen()">
          <mat-option value="Menü 1" >Menü 1</mat-option>
          <mat-option value="Menü 2" >Menü 2</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-checkbox *ngIf="selectedMenu === 'Menü 2' || selectedTag === 'Samstag'" [(ngModel)]="isVegetarisch" >Vegetarisch&nbsp;&nbsp;</mat-checkbox>
      &nbsp;
      <mat-checkbox [(ngModel)]="hasNachtisch" (change)="kostenBerechnen()">Nachtisch bestellen&nbsp;&nbsp;</mat-checkbox>
      &nbsp;
      <mat-checkbox *ngIf="selectedTag !== 'Samstag'"[(ngModel)]="hasSuppe" (change)="kostenBerechnen()">Suppe bestellen&nbsp;&nbsp;</mat-checkbox>
      <mat-card-title> Kosten: {{kosten}} € </mat-card-title>
      <mat-card-actions>
        <button mat-raised-button class="btn-back" (click)="submitBestellung()">Bestellung aufgeben</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
</div>