<p class="user">Angemeldet als: {{username}}</p>
<br><br>

<div class="speiseplanmitformular">
<div class="speiseplan-wrapper">
<mat-card>
    <mat-card-header>
      <mat-card-title>Speiseplan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{montag.toLocaleDateString()}} - {{sonntag.toLocaleDateString()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <thead>
          <tr class="header-row">
            <th></th>
          <th>Montag - {{montag.getDate()}}.{{montag.getMonth() + 1}}</th>
            <th>Dienstag - {{dienstag.getDate()}}.{{dienstag.getMonth() + 1}}</th>
            <th>Mittwoch - {{mittwoch.getDate()}}.{{mittwoch.getMonth() + 1}}</th>
            <th>Donnerstag - {{donnerstag.getDate()}}.{{donnerstag.getMonth() + 1}}</th>
            <th>Freitag - {{freitag.getDate()}}.{{freitag.getMonth() + 1}}</th>
            <th>Samstag - {{samstag.getDate()}}.{{samstag.getMonth() + 1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="menu1-row">
            <th>Menü 1</th>
            <td>{{menu1_montag}}</td>
            <td>{{menu1_dienstag}}</td>
            <td>{{menu1_mittwoch}}</td>
            <td>{{menu1_donnerstag}}</td>
            <td>{{menu1_freitag}}</td>
            <td>{{menu1_samstag}}</td>
          </tr>
          <tr class="menu2-row">
            <th>Menü 2</th>
            <td>{{menu2_montag}}</td>
            <td>{{menu2_dienstag}}</td>
            <td>{{menu2_mittwoch}}</td>
            <td>{{menu2_donnerstag}}</td>
            <td>{{menu2_freitag}}</td>
            <td>{{menu2_samstag}}</td>
          </tr>
          <tr class="nachtisch-row">
            <th>Nachtisch</th>
            <td>{{nachtisch_montag}}</td>
            <td>{{nachtisch_dienstag}}</td>
            <td>{{nachtisch_mittwoch}}</td>
            <td>{{nachtisch_donnerstag}}</td>
            <td>{{nachtisch_freitag}}</td>
            <td>{{nachtisch_samstag}}</td>
          </tr>
          <tr class="suppe-row">
            <th>Suppe</th>
            <td>{{suppe_montag}}</td>
            <td>{{suppe_dienstag}}</td>
            <td>{{suppe_mittwoch}}</td>
            <td>{{suppe_donnerstag}}</td>
            <td>{{suppe_freitag}}</td>
            <td>{{suppe_samstag}}</td>
          </tr>
        </tbody>
      </table>
      <mat-card-footer>
        <br>
        HINWEISE:
        <br>
        - Menü 2 ist auch als vegetarische Variante zu erhalten
        <br>
        - Samstags wird nur Menü 2 und Nachtisch angeboten
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
  <br>
<button  mat-raised-button class="btn-back" (click) = "vorherigeWoche();" >Vorherige Woche</button>
&nbsp;
<button  mat-raised-button class="btn-back" (click) = "naechsteWoche();" >Nächste Woche</button>
</div>


<div class="bestellformular-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bestellung aufgeben</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Tag auswählen</mat-label>
        <mat-select [(ngModel)]="selectedTag">
          <mat-option *ngFor="let tag of tage" [value]="tag">{{tag}}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field *ngIf="selectedTag !== 'Samstag'">
        <mat-label>Menü 1 oder Menü 2?</mat-label>
        <mat-select [(ngModel)]="selectedMenu">
          <mat-option value="Menü 1">Menü 1</mat-option>
          <mat-option value="Menü 2">Menü 2</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-checkbox *ngIf="selectedMenu === 'Menü 2' || selectedTag === 'Samstag'" [(ngModel)]="isVegetarisch">Vegetarisch&nbsp;&nbsp;</mat-checkbox>
      &nbsp;
      <mat-checkbox [(ngModel)]="hasNachtisch">Nachtisch bestellen&nbsp;&nbsp;</mat-checkbox>
      &nbsp;
      <mat-checkbox *ngIf="selectedTag !== 'Samstag'"[(ngModel)]="hasSuppe">Suppe bestellen&nbsp;&nbsp;</mat-checkbox>

      <mat-card-actions>
        <button mat-raised-button class="btn-back" (click)="submitBestellung()">Bestellung aufgeben</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
</div>