.user{
    float: right;
}

.speiseplanmitformular {
    display: flex;
  }
  
  .speiseplan-wrapper, .bestellformular-wrapper {
    width: 50%;
    height: 200px;
  }


mat-card{
    background-color: white;
    width: fit-content;

}

mat-card-title {
    color: rgb(112, 189, 112);
}

table{
    width: 100%; /* die Breite des gesamten Tabellenbereichs */
}

th, td {
    padding: 25px; /* Größe des Inhalts einstellen */
    text-align: left;
    border-bottom: 1px solid #ddd; /* fügt eine Trennlinie zwischen den Zeilen hinzu */
  }

.header-row{
    background-color: rgb(112, 189, 112);
}

.menu1-row {
    background-color: lightgrey;
  }

  .menu2-row {
    background-color: rgb(112, 189, 112);
  }

  .nachtisch-row {
    background-color: lightgrey;
  }

  .suppe-row {
    background-color: rgb(112, 189, 112);
  }


  .menu1-row th, .menu2-row th, .nachtisch-row th, .suppe-row th {
    width: 15%; /*Breite der Spalten einstellen */
  }
  
  .menu1-row td, .menu2-row td, .nachtisch-row td {
    height: 30px; /* Höhe der Zeilen einstellen */
  }

  .suppe-row td {
    height: 15px;
  }

  mat-card-footer {
    color: rgb(112, 189, 112);
  }

  button.btn-back {
    color: white;
    background-color: darkblue;
}


 mat-checkbox {
    background-color: rgb(73, 72, 72);
  }
  
 mat-form-field, mat-checkbox {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  